/* Typography */

body {
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.49;
    letter-spacing: -.01em;
}

.card h1 {
    font-size: 1.125rem;
    letter-spacing: -.016em;
}

.card .author {
    font-size: 0.75rem;
}

.card .tag {
    font-weight: 700;
    font-size: 0.625rem;
}

/* Layout & Color */

body {
    margin: 0;
    background-color: #FAFAF9;
    color: #6C727F;
}

.card {
    margin: 0 auto;
    margin-top: 163px;

    width: 368px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.card > * {
    padding: 16px;
}

.card .tag {
    display: inline-block;
    margin: 16px 0;
    padding: 3px 16px;

    border-radius: 16px;
    background-color: #E6D6FC;
    color: #883AE1;
}

.card h1 {
    margin: 0;
    color: #20293A;
}

.card p {
    margin: 3px 0;
}

.card img {
    display: block;
    height: 152px;
    border-radius: 12px;
}

.card .author {
    border-top: 1px solid #E5EAF0;
    padding: 19px 16px;
}